.container {
  *:focus {
    outline: none;
  }
}

.tooltip{
  background-color: var(--dark);
  padding: 1rem;
  p{
    margin: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
  }
}