.container{
    p{
        display: inline-flex;
        flex-wrap: wrap;
    }

    span{
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .date{
        color: var(--text-light);
    }
    .light{
        color: var(--text-light)
    }
    .ema9{
        color: var(--blue);
    }
    .ema21{
        color: var(--yellow);
    }
    .vwap{
        color: #e684eaec;
    }
}