.container{
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    p{
        display: inline-flex;
        flex-wrap: wrap;
    }

    span{
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .date{
        color: var(--text-light);
    }
    .light{
        color: var(--text-light)
    }
    .ema100{
        color: var(--blue);
    }
    .ema200{
        color: var(--yellow);
    }
    .vwap{
        color: #e684eaec;
    }
}