.container{
    padding: 0.5rem 0;
    input{
        -webkit-appearance: none; /* Remove default styling */
        width: 100%;
        height: 8px;
        background: var(--light);
        outline: none;
        cursor: pointer;
    }
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 8px;
        height: 25px;
        background: var(--primary);
    }
}