.container{
    max-width: 600px;
    margin: 1rem auto;
    padding: 2rem;

    h1{
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    p{
        margin: 1rem 0;
        color: var(--text-light);
    }
}