.container{
    padding: 0.5rem 0;
    progress{
        width: 100%;
        display: block;
        border-radius: 0px;
        height: 5px;
        margin: 0.5rem auto;
    }
    progress::-webkit-progress-bar {
        background-color: var(--light);
        border-radius: 0px;
    }
    progress::-webkit-progress-value {
        background-color: var(--primary); /* Bar fill color */
        border-radius: 0px;
    }
}