/* Loading */ 
@mixin Loading($width, $height, $border, $color) {
    width: $width;
    height: $height;
    border-radius: 50%;
    border: $border solid $color;
    border-top-color: transparent;
    animation: spinner 0.5s linear infinite;
}
@keyframes spinner {
    to{
        transform: rotate(360deg);
    }
}

.container{

    .warning{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        button{
            margin: 0.5rem 0;
            width: 100%;
            padding: 0.5rem;
            &:hover{
                opacity: 0.8;
            }
        }
        .sure{
            background-color: var(--red);
            color: white;
            width: 50%;
        }
        .exit{
            background-color: var(--light);
            color: white;
        }
    }
    
    .button{
        display: flex;
        align-items: center;
        padding: 0.5rem;
        width: 100%;
        transition: 0.3s ease-in-out;
        &:hover{
            opacity: 0.8;
        }

        svg{
            display: block;
            align-items: center;
        }   
        
        .loading{
            @include Loading(15px, 15px, 2px, white);
            margin: auto;
        }
    }
    .between{
        justify-content: space-between;
    }
    .center{
        justify-content: center;
    }
    .margin{
        margin: 0.5rem;
    }
    .white{
        background-color: white;
        *{ color: black }
    }
    .black{
        background-color: black;
        *{ color: white }
    }
    .red{
        background-color: var(--red);
        *{color: white;}
    }
    .green{
        background-color: var(--green);
        *{color: white;}
    }
    .dark{
        background-color: var(--dark-shade);
        border: 1px solid var(--dark-shade);
        *{color: white;}
    }
    .light{
        background-color: var(--light);
    }
    .primary{
        background-color: var(--primary);
    }
    .selected{
        background-color: var(--dark);
        border: 1px solid var(--primary);
        *{color: var(--primary)};
    }
}