.container{
  position: relative;
  padding: 0.5rem;
  justify-content: center;
  width: 80px;
  justify-content: center;
  display: flex;

  &:hover{
    .information{
      display: block;
    }
  }

  .information{
    z-index: 10;
    display: none;
    position: absolute;
    left: 0;
    top: 2rem;
    background-color: var(--dark);
    border: 1px solid var(--light);
    padding: 1rem;
    width: 200px;
    p{
      margin: 0.3rem 0;
    }
  }

  .candle{
    position: relative;
    height: 50px;
  }

  .wick{
    position: absolute;
    width: 2px;
    background: var(--text-light);
    transform: translateX(450%);
  }

  .body{
    position: absolute;
    left: 0;
    border-radius: 2px;
    width: 20px;
  }

}