.orderbook{
    border: 2px solid var(--primary);
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 300px;
    grid-template-areas: 
    "stats book"
    "chart book";

    .stats{
        grid-area: stats;
    }

    .book{
        grid-area: book;
        display: flex;
        background-color: var(--dark-shade);
        padding: 1rem;
        max-height: 250px;
        overflow-y: auto;
    }

    .chart{
        grid-area: chart;
    }
}