.primary, .red, .green, .light, .dark {
    white-space: pre-line;
}

.primary{
    color: var(--primary);
}

.red{
    color: var(--red);
}

.green{
    color: var(--green);
}

.light{
    color: var(--text-light);
}

.dark{
    color: var(--dark);
}