.container{
    .pages{
        text-align: center;
        margin: 1rem auto;
        .number{
            padding: 0.5rem;
            background-color: var(--dark);
            border-radius: 5px;
            margin: 0 0.1rem;
        }
        .selected{
            background-color: var(--light);
            color: white;
        }
    }
}