.container{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.864);
    z-index: 10;
    align-items: center;
    justify-content: center;

    .page{
        overflow-y: auto;
        position: absolute;
        bottom: 0;
        background-color: var(--background);
        border-top: 2px solid var(--light) ;
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        height: 90%;
        width: 100%;
        animation: slideup 0.3s linear forwards;
    }
    @keyframes slideup {
        from{
            height: 0;
        }
        to{
            height: 90%;
        }
    }

    .bottomButton {
        position: fixed;
        bottom: 0;
        width: 100%;
        border-top: 1px solid var(--dark);
        background-color: var(--dark);
        button{
            width: 100%;
            padding: 0.5rem;
            &:hover{
                opacity: 0.8;
            }
        }
    }
}