.container{
    width: 100%;
    margin: 0.5rem 0;

    .labels{
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            color: var(--text-light);
        }
    }

    select {
        height: 35px;
        padding: 0.5rem;
        width: 100%;
        transition: 0.2s ease-in-out;
        border: 1px solid var(--light);
        background-color: var(--light);;
        outline: none;
        cursor: pointer;
        box-sizing: border-box;

        &:hover{
            border: 1px solid var(--primary);
        }
    }
    
}