.container{
    width: 100%;
    margin: 0.5rem 0;

    textarea{
        padding: 0.5rem;
        width: 100%;
        box-sizing: border-box;
        background-color: var(--light);
        resize: vertical;
        max-height: 400px;
        font-family: inherit;
        border: 1px solid var(--light);

        &:hover, &:focus{
            border-color: var(--primary);
        }
    }

    label{
        width: 100%;
        margin-bottom: 0.2rem;
        font-weight: 200;
        color: var(--text-light);
        span{
            color: var(--text-light);
        }
    }

    .double{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .error{
        color: var(--clr-red);
    }

}